<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">

<style>
* {
  font-family: vt323;
  text-transform: uppercase;
  font-size: 30px;
}

body {
  background: black;
}

h1 {
  color: #00ff1a;
  font-size: 50px;
}

a {
  background: grey;
  padding: 20px 20px;
  text-decoration: none;
  color: black;
  box-shadow: 5px 5px #3b453c;
  margin: 15px;
}

a:active {
  padding: 18px 18px;
  box-shadow: 3px 3px #3b453c;
}

a:hover {
  background:#34eb4c;
}

#output {
  background: blue;
  color: white;
  margin: 30px;
  height: 50%;
  overflow: scroll;
}
</style>

{{- $endpoint := .Endpoint -}}

<script>
function callCommand(name) {
  fetch('/{{ $endpoint }}/' + name).then(function(response) {
    return response.text().then(function(text) {
      document.querySelector("#output").innerText = text
    })
  })
}
</script>

<center>

<h1>{{ .Config.Title }}</h1>

</br>
<div>
{{ range .Config.Commands }}
    <a onclick="callCommand('{{.Name}}')" href="javascript:void(0);">{{.Name}}</a>
{{ end }}
</div>
</br>

<div id="output"></div>

</center>
